apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: ui-ingress
spec: 
    rules:
    - http:
        paths:
        - path: /
          pathType: Prefix
          backend: 
            service:
              name: ui-service
              port:
                number: 9999
        - path: /register
          pathType: Prefix
          backend: 
            service:
              name: ui-service
              port:
                number: 9999
        - path: /login
          pathType: Prefix
          backend: 
            service:
              name: ui-service
              port:
                number: 9999
        - path: /admin-dashboard
          pathType: Prefix
          backend: 
            service:
              name: ui-service
              port:
                number: 9999
        - path: /admin-dashboard
          pathType: Prefix
          backend: 
            service:
              name: ui-service
              port:
                number: 9999
